
<%- include("../partials/header") %>
<style>
    img{
	border-bottom: 2px solid black; 
    height:150px ;
	width: 100%;
}

img:hover {
	height:280px ;
	width: 100%;	

		}
.imgHolder{

	border: 5px solid red; 
    
	
}
.imgReel{
	display: grid;
  grid-template-columns: auto auto auto;
  
  padding: 10px;
}	
</style>
<a href="/campgrounds/new">make new camp</a>
<h1> dA campsss page</h1>

<div class="imgReel">
<% campgrounds.forEach(function(camp){ %>

<span class="imgHolder">
    	<img src="<%=camp.image%>"> 
    	  <div>
    		<h4><%= camp.name %></h4>
    		<p>
                <a href="/campgrounds/<%= camp._id%>">more info</a>
    		</p>
    	  </div>
</span>

<% }) %>
</div>


<%- include("../partials/footer") %>
