<%- include("../partials/header") %>


<a href="/campgrounds/new">make new camp</a>


<div id = "container">

  <div class="imgReel">
  <% campgrounds.forEach(function(camp){ %>

    <div class="imgHolder">
    	<img id="imgin" src="<%=camp.image%>"> 
    	  <div>
    		<h4 style="font-size:1vw;"><%= camp.name %></h4>
    		<p>
                <a href="/campgrounds/<%= camp._id%>" style="font-size:1vw;"><button class="info">more info</button> </a>
    		</p>
    	  </div>
    </div>

  <% }) %>
  </div>
</div>


<%- include("../partials/footer") %>
