<%- include("../partials/header") %>
<div id="container">
<h1><%=campground.name%></h1>
<p>by : <%=campground.author.username%></p>
<img src="<%=campground.image%>">
<p><%=campground.description%></p>

<% campground.comments.forEach(function(comment){ %>
	<div>
		<strong><%= comment.author.username %></strong> - <%= comment.text %>
		<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
		<a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit"><button class="editButton">edit</button></a>
		<form action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE" method=POST>
			<button class="deleteButton">delete</button>
		</form>
		<% } %>
	</div>
	
<%})%>
<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
     <a href="/campgrounds/<%= campground._id%>/edit"><button class="editButton">edit</button> </a>
<form id="deleteForm" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
	<button class="deleteButton">delete</button>
</form>
<% } %>
<p>
     <a href="/campgrounds/<%=campground._id%>/comments/new">add new comment</a>
</p>
</div>

<%- include("../partials/footer") %>